<!DOCTYPE html>

<html lang="en">
<head>
    {%load static %}
  <meta charset="utf-8">
  <title>
      {% block titulo%}

      {%endblock%}
  </title>
  
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'AppEntrega/css/style.css' %}" rel="stylesheet">

</head>

<body>

  <header id="header">
    
      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li><a href="{% url 'inicio' %}">Inicio</a></li>
          <li><a href="{% url 'usuarios' %}">Usuarios</a></li>
          <li><a href="{% url 'donativo' %}">Donativos</a></li>
          <li><a href="{% url 'biblioteca' %}">Biblioteca</a></li>
          <li><a href="{% url 'logout' %}">Logout</a></li>
          <li>{%if request.user.is_authenticated%}
            <p class="text-muted small mb-4 mb-1g-0">Hola {{user.username}}!</p>
          {%endif%}</li>
          <a href="{%url 'crear_avatar'%}">
            <img src="{{avatar_url}}" height="70px">
          </a>
          
    
  </header><!-- #header -->

  <!--==========================
    Hero Section
  ============================-->
  {%block fondo%}
  <section id="hero">
    <div class="hero-container">
      <h1>Libreria</h1>
      <h1>CoderHouse</h1>
      <h3>  by Django </h3>
      
      
    </div>
  </section><!-- #hero -->

  <main id="main">

  {%endblock%} 
    
            {%block cambio%} 
            
            {%endblock%}
  

  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        
      </div>
      <div class="credits">
        
        Creado por <a> G6 </a>
      </div>
    </div>
  </footer><!-- #footer -->

</body>
</html>
