{%extends 'AppEntrega/base.html' %}
  {%load static%}
 
  {% block titulo%}
    Biblioteca
  {%endblock%}
  {%block fondo%}
  <section id="hero">
    <div class="hero-container">
      
      <h1>BIBLIOTECA</h1>
      <h3>  by Django </h3>
      <a href="{% url 'formularioLibro' %}" class="btn-get-started">Ingresar Libro</a>
      <a href="{% url 'buscarLibro' %}" class="btn-get-started"> Buscar Libro </a>
    </div>
  </section><!-- #hero -->
  
  <main id="main">
  
  
  {%endblock%}


{% block cambio %}

<h1>Nuestros libros son:</h1>
  {%for libro in biblioteca%}
    {{libro}}
      <br>
  {%endfor%}  

{% endblock %}