<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar Donativo</title>
    <style>
        body {
            background: rgb(48, 29, 70);
            
        }
    </style>
</head>

<body>
    <h2 style="color: antiquewhite;font-family: Arial;">Buscar Donantes</h2>

    <form action="{%url 'respuestaDonativo' %}" method="GET">
        <input type="text" name="donativo" required>
        <input type="submit" value="Buscar Donativo">
    </form>
</body>

</html>