<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actulizar Usuario</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">
    <style>
        body {
            background: rgb(51, 61, 94);
            padding-top: 200px;
            padding-left: 600px;
            
        }
    </style>
</head>
<body>
    <h2 style="color: antiquewhite;font-family:poppins">Actualizar Usuario</h2>
    <form action="" method="POST">{% csrf_token%}
        <table style="color: antiquewhite;font-family: poppins;">
            {{ form.as_table}}
        </table>

        <input type="submit" value="Actualizar Usuario">
        <br>
        <br>
        <input type="button" value="Volver" onClick="history.go(-1);">
    </form>
</body>
</html>