<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresar Productos</title>
</head>
<body>
    <form action="" method="POST">{% csrf_token%}
        <p>Nombre: <input type="text" name="nombre"></p>
        <p>Numero de Serie: <input type="number" name="numeroSerie"></p>
        <p>Numero de Lote: <input type="number" name="numeroLote"></p>

        <input type="submit" value="Cargar">
    </form>
</body>
</html>


