{%extends 'AppEntrega/base.html' %}

  {%load static%}
  
 
  {% block titulo%}
    Usuarios
  {%endblock%}

{%block fondo%}
<section id="hero">
  <div class="hero-container">
    
    <h1>USUARIOS</h1>
    <h3>  by Django </h3>
    <a href="{% url 'ingresarUsuarios' %}" class="btn-get-started">Ingresar Usuario</a>
    <a href="{% url 'buscarUsuario' %}" class="btn-get-started"> Buscar Usuario </a>
    
  </div>
</section><!-- #hero -->

<main id="main">


{%endblock%}



{% block cambio %}


<h1>Usuarios Registrados:</h1>
{%for usuario in usuarios%}
  {{usuario}}
  <a href="{% url 'borrarUsuario' usuario.id  %}" class="btn-get-started"> Borrar </a>
  <a href="{% url 'actualizarUsuario' usuario.id  %}" class="btn-get-started"> Actualizar </a>
  <br>
{%endfor%}

{% endblock %}