<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar Usuario</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">
    <style>
        body {
            background: rgb(182, 132, 155);
            
        }
    </style>
</head>
<body>
    <h2 style="color: antiquewhite;font-family:poppins">Desea eliminar el usuario?:</h2>
    <form action="" method="POST">{% csrf_token%}
        <ul>
            <li>Nombre: {{usuarios.nombre}}</li>
            <li>Apellido: {{usuarios.apellido}}</li>
            <li>Email: {{usuarios.email}}</li>
        </ul>
        

        <input type="submit" value="Eliminar">
        <br>
        <br>
        <input type="button" value="Volver" onClick="history.go(-1)">
    </form>
</body>
</html>